#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: #d4dfec;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ping-button {
  background-color: #646cff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.8em 1.6em;
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ping-button:hover {
  background-color: #535bf2;
}

.ping-button:disabled {
  background-color: #011e9e;
  cursor: not-allowed;
}

.result {
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
}

.result p {
  margin: 0.5rem 0 0;
  font-size: 2em;
  font-weight: bold;
  color: #646cff;
}

.progress-container {
  width: 80%;
  background-color: #ddd;
  height: 10px;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.2s ease-in-out;
}